- stylesheet ||= :application

%head
  %title
    Aventine Solutions
  = stylesheet_link_tag     stylesheet, :media => :all
  = stylesheet_link_tag     :print,     :media => :print
  = javascript_include_tag  :application
  = yield :head_append
  = csrf_meta_tags
